$fieldBackground: rgb(255, 255, 255);
$white: #f2f2f2;
$gray: #666666;
$lightgray: rgb(240, 238, 238);
$blue: #2841a2;
$darkgray: #3b3b3b;
$bluegray: #266880;
$red: rgb(255, 0, 0);
$shadow: rgb(0 0 0 / 30%);
