@import "../../../styles/variables";
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em;
  position: fixed;
  top: 0;
  background-color: $lightgray;
  width: 100%;
  z-index: 1;
  font-size: 18px;
}

.header-wrapper {
  h3 {
    font-size: 25px;
    font-family: Georgia, sans-serif;
    margin-left: 12em;
  }
}

.navbar {
  ul {
    li {
      display: inline;
      margin: 0.6em;

      a {
        font-weight: 900;
        text-decoration: none;
        color: $darkgray;
        padding: 5px;
      }
      a:hover {
        color: $lightgray;
        background-color: $darkgray;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 983px) {
  .header-wrapper h3 {
    margin: 0px;
  }
}
@media (max-width: 740px) {
  .header-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .header-wrapper {
    margin: 0px;
    padding: 0px;
  }
}
