@import "../../../../styles/variables";

.articles {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  padding: 1em;
  color: $darkgray;
  background-color: $lightgray;
  align-items: center;
  border-radius: 2em;
  box-shadow: 0 0 15px $shadow;
  min-width: 20em;
  max-width: 22em;

  img {
    width: 5em;
  }
  a {
    text-decoration: none;
    color: $bluegray;
    font-weight: 900;
  }

  a:hover {
    color: $darkgray;
  }
}

.articles:hover {
  background-color: $fieldBackground;
  box-shadow: 0 0 15px $bluegray;
}
.price {
  font-weight: 900;
  font-size: 18px;
}

@media (max-width: 420px) {
  .articles {
    font-size: 16px;
    align-items: center;
  }
}
