<footer class="footer">
  <div class="socials">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-twitter"></i>
  </div>

  <div class="office-hours">
    <h3>{{ officeHoursTitle }}</h3>
    <p *ngFor="let workingHour of workingHours">{{ workingHour }}</p>
  </div>
  <div>
    <h3>{{ locationTitle }}<br /></h3>
    <p>{{ location }}</p>
  </div>
  <div>
    <h3>{{ contactTitle }}</h3>
    <p>{{ email }}</p>
    <p>{{ phone }}</p>
  </div>
</footer>
